/[Ll]ibrary/
/[Bb]undles/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/

/ProjectSettings/EditorBuildSettings.asset

/Assets/UnityTestTools/Examples/
/Assets/UnityTestTools/Common/Settings.meta
/Assets/UnityTestTools/Common/Settings/

# ============ #
#   Perforce   #
# ============ #
/Assets/Content/
/Assets/Packs/
/Assets/Standard Assets/
/Assets/WIP/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ====== #
# Others #
# ====== #
*.exe
*.blend1
*.blend2