[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
ProjectSettings/EditorBuildSettings.asset

# ============ #
# Google Drive #
# ============ #
Assets/Content/
Assets/Packs/
Assets/Standard Assets/
Assets/WIP/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ====== #
# Others #
# ====== #
*.exe
*.blend1
*.blend2